@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Russo+One&display=swap');

* {
  font-family: 'Rajdhani';
}

.logo {
  font-family: 'Russo One' !important;
  user-select: none;
}

html {
  scroll-snap-type: y proximity;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

@keyframes glitch-anim {
  0% {
    text-shadow: 2px 2px 0px #ff00ff, -2px -2px 0px #00ffff;
    transform: translate(0, 0);
  }
  20% {
    text-shadow: -2px -2px 0px #ff00ff, 2px 2px 0px #00ffff;
    transform: translate(-2px, -2px);
  }
  40% {
    text-shadow: 2px 2px 0px #ff00ff, -2px -2px 0px #00ffff;
    transform: translate(2px, 2px);
  }
  60% {
    text-shadow: -2px -2px 0px #ff00ff, 2px 2px 0px #00ffff;
    transform: translate(-2px, -2px);
  }
  80% {
    text-shadow: 2px 2px 0px #ff00ff, -2px -2px 0px #00ffff;
    transform: translate(2px, 2px);
  }
  100% {
    text-shadow: 2px 2px 0px #ff00ff, -2px -2px 0px #00ffff;
    transform: translate(0, 0);
  }
}

.glitch {
  animation: glitch-anim 4s infinite;
  -webkit-animation: glitch-anim 4s infinite;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #2d2d2d;
}

body::-webkit-scrollbar-thumb {
  background-color: #c026d3;
  border-radius: 10px;
  border: 2px solid #4a4a4a;
}

body::-webkit-scrollbar-track {
  background-color: #2d2d2d;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a21ba2;
}

.animate-comb {
  animation: bouncePulse 4s infinite;
  -webkit-animation: bouncePulse 4s infinite;
}

@keyframes bouncePulse {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateY(-20px) scale(1.1);
    opacity: 0;
  }
  50% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  75% {
    transform: translateY(-10px) scale(1.05);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.active {
  position: relative;
  font-size: 23px;
  text-decoration: none;
}

.active::after {
  content: '';
  display: block;
  width: 75px;
  height: 2px;
  border-radius: 100px;
  background: #ff00ff;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
